<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<meta charset="utf-8" http-equiv="encoding">
	<!-- it's important for d3.js -->
	<script src="../../scripts/lib/angular/angular.js"></script>
	<script src="../../scripts/lib/d3/d3.min.js" charset="utf-8"></script>
	<script src="../../scripts/lib/nvd3/build/nv.d3.js"></script>
	<!-- or use another assembly -->
	<script src="../../scripts/lib/angular-nvd3/dist/angular-nvd3.js"></script>
	<script src="controllers/dental-test-ctrl.js"></script>
	<link rel="stylesheet" href="../../scripts/lib/nvd3/build/nv.d3.css">
	<link rel="stylesheet" href="../../styles/dental.css">
</head>
<body ng-controller="myCtrl">
	<div>
		<input type="number" id="quantityA" name="quantityA" min="-15" max="15" ng-model="quantityA" ng-change="onChangeQuantityA()">
		<input type="number" id="quantityB" name="quantityB" min="-15" max="15" ng-model="quantityB" ng-change="onChangeQuantityB()">
		<input type="number" id="quantityC" name="quantityC" min="-15" max="15" ng-model="quantityC" ng-change="onChangeQuantityB()">
		<div class="tooth_div">
			<nvd3 options="options" data="dataChart" id="chart"></nvd3>
		</div>
	</div>
</body>
</html>